$color1: rgb(83, 139, 156);
$color2: #BCD8E3;
$color3: #DFE3F0;

body {
    background-color: $color3;
}

header {
    background-color: $color1;
    color: white;
    width: 100%;
    height: 50px;
    box-shadow: 0px 3px rgba(black, 0.2);

    .headerContainer {
        width: 80%;
        height: 50px;
        margin: auto;
        display: flex;

        nav {
            width: 80%;

            ul {
                height: 50px;
                display: flex;
                align-items: center;
                margin-left: 80px;

                li {
                    font-size: 20px;
                    margin-right: 50px;
                }
            }
        }

        button {
            width: 170px;
            height: 40px;
            margin-top: 5px;
            background-color: $color2;
            color: black;
            font-weight: bold;
            font-size: 20px;
            border-radius: 20px;
            align-items: center;
        }
    }
}

carousel {
    img {
        margin-top: 10px;
        background-image: url("../img/carousel.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -180px;
        width: 100%;
        height: 600px;
        position: relative;
    }

    h1 {
        position: absolute;
        z-index: 9;
        transform: translate(550px, 250px);
        color: white;
        font-weight: bold;
        font-size: 60px;
    }

    h3 {
        position: absolute;
        z-index: 9;
        transform: translate(600px, 330px);
        color: white;
        font-size: 20px;
    }
}

portfolio {
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    .experience {
        width: 50%;
        height: 500px;
        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 10px;
        }
        .container {
            display: flex;
            align-content: space-between;
            .img {
                background-image: url(../img/arrow_up_long.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 400px;
                border: 0 !important;
                border-style: none !important;
                outline: none !important;
            }
            .experienceContent {
                width: 90%;
                align-items: center;
                height: 400px;

                table {
                    align-content: space-between;
                    width: 100%;
                    height: 400px;

                    tr {
                        width: 100%;
                        height: 80px;
                        display: flex;

                        th {
                            width: 20%;
                            height: 80px;
                        }

                        td {
                            width: 80%;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
    .skill {
        width: 50%;
        height: 500px;

        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }

        .skillName {
            font-weight: bold;
        }

        .webpage {
            h3 {
                margin: 10px 0 5px 0;
                text-align: left;
                font-weight: bolder;
                font-size: 20px;
                color: $color1;
            }

            table {
                width: 100%;
                text-align: center;

                th {
                    color: $color1;
                }

                td {
                    border-bottom: 0.5px solid $color1;
                    height: 30px;
                }
            }
        }

        .library {
            h3 {
                margin: 10px 0 5px 0;
                text-align: left;
                font-weight: bolder;
                font-size: 20px;
                color: $color1;
            }

            table {
                width: 100%;
                text-align: center;

                th {
                    color: $color1;
                }

                td {
                    border-bottom: 0.5px solid $color1;
                    height: 30px;
                }
            }
        }

        .framework {
            h3 {
                margin: 10px 0 5px 0;
                text-align: left;
                font-weight: bolder;
                font-size: 20px;
                color: $color1;
            }

            table {
                width: 100%;
                text-align: center;

                th {
                    color: $color1;
                }

                td {
                    border-bottom: 0.5px solid $color1;
                    height: 30px;
                }
            }
        }
    }
}

project {
    width: 80%;
    height: 800px;
    margin: auto;
    margin-top: 10px;
    display: block;
    h2 {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 10px;
        color: $color1;
    }
    .projectContainer {
        width: 100%;
        display: block;
        .projectContent {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            row-gap:20px;
            column-gap: 100px;
            padding-left: 55px;
            .projectItem {
                width: 200px;
                height: fit-content;
                box-sizing: border-box;
                background-color: $color1;
                text-align: center;
                border-radius: 10px;
                .img {
                    transform: translateY(10px);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 90%;
                    height: 270px;
                    margin: auto;
                    border-radius: 10px;
                }
                #img1 {
                    background-image: url(../img/shoes_store_online_project_banner.png);
                }
                #img2 {
                    background-image: url(../img/todo_checklist_project_banner.png);                    
                    background-position: center;
                }
                #img3 {
                    background-image: url(../img/XO_game_project_banner.png);
                    background-position: center;
                }
                #img4 {
                    background-image: url(../img/shoes_store_online_project_banner.png);
                }
                #img5 {
                    background-image: url(../img/shoes_store_online_project_banner.png);
                }
                #img6 {
                    background-image: url(../img/shoes_store_online_project_banner.png);
                }
                #img7 {
                    background-image: url(../img/shoes_store_online_project_banner.png);
                }
                #img8 {
                    background-image: url(../img/shoes_store_online_project_banner.png);
                }
                h3 {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 10px;
                }
                p {
                    color: white;
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }
}
footer {
    background-color: $color1;
    width: 100%;
    height: 300px;
    margin-top: 10px;

    .footerContainer {
        width: 80%;
        margin: auto;
        display: flex;

        .leftFooter {
            width: 50%;
            height: 300px;

            #map {
                height: 300px;
                width: 100%;
            }
        }

        .rightFooter {
            width: 50%;
            height: 300px;

            .socialMedia {
                text-align: center;
                font-size: 30px;
                margin-top: 10px;
                transform: translateY(100%);

                h3 {
                    font-weight: bolder;
                    text-align: center;
                    text-decoration: underline;
                }

                icon {
                    margin-left: 15px;
                }
            }
        }
    }
}